{% extends 'base.html.twig' %}

{% block header %}

    <div class="header-bottom">
        <div class="type">
            <h5>Categories</h5>
        </div>
        <span class="menu"></span>
        <div class="list-nav">
            <ul>
                {% for category in categories %}
                    <li><a href="{{ path(category) }}">{{ category.name }}</a></li>|
                {% endfor %}
            </ul>
        </div>
        <!-- script for menu -->
        <script>
            $( "span.menu" ).click(function() {
                $( ".list-nav" ).slideToggle( "slow", function() {
                    // Animation complete.
                });
            });
        </script>
        <!-- script for menu -->

        <div class="clearfix"></div>
    </div>

{% endblock %}

{% block body %}
<div class="container">
    <div class="content">
        <div class="col-md-7 content-left">
            <h5 class="head">Search: {{ filters.filters['search'].state.value }}</h5>
            {% for article in filters.result %}
                <div class="article">
                    <a class="title" href="{{ path(article) }}">{{ article.title }}
                        {% if ongr_setting('comments_title') %}
                            <span>({{ article.comments | length}})</span>
                        {% endif %}
                    </a>
                </div>
            {% endfor %}
        </div>

        {% if ongr_setting('commerce_category_banner') %}
            <div class="col-md-5 content-right">
                <img src="{{ asset(ongr_setting('commerce_category_banner_name')) }}"style="width: 100%" alt="">
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}